/* header setting */

header {
  grid-template-columns: 20% 50% 30%;
  grid-template-rows: auto;
  grid-template-areas: "logo nav button";
  align-items: center;
  justify-items: end;
}

header nav ul li {
  display: inline-block;
}

.button-desktop {
  grid-area: button;
}

.button-mobile {
  display: none; /* hide mobile buttons */
}

/* header settings */

/* hide x */

.hamburger {
  display: none;
}

nav > ul > li {
  position: relative;
}

/* this is transition effect sub menu*/

nav ul ul {
  position: absolute;
  opacity: 0;
  background-color: azure;
  padding: 5px;
  width: 100%;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
}

nav ul li:hover ul {
  opacity: 1;
  pointer-events: auto;
}
nav ul li:hover ul li {
  transition: background-color 900ms ease-in-out;
  display: block;
}

nav ul li:hover ul li:hover {
  background-color: bisque;
  display: block;
}

/* end header settings desktop */

/* Main Settings Desktop */

main {
  grid-template-columns: 75% 20% 5%;
  grid-row: auto;
  grid-template-areas: "hero-left hero-right social";
  justify-items: center;
  align-items: center;
}

.heightImg {
  max-height: 250px;
}

/* social logo display block */

main > nav > ul > li {
  display: block;
}

/* footer */

footer {
  grid-template-columns: 10% 10% 80%;
  grid-template-rows: auto;
  grid-template-areas: "logo copyor footer-menu";
}