/* h1 Montserrat, h2-h6 Lora and p Hind Madurai */
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&family=Lora:ital@1&family=Montserrat:wght@700&display=swap");

/* reset*/

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #040303;
}

body {
  font-family: "Hind Madurai", sans-serif;
  background-color: #eef0f2;
  color: #040303;
  font-weight: 300;
  font-size: 16px;
  width: 80vw;
  margin: 10px auto;
  padding: 10px;
  box-shadow: -1px -9px 30px 0px #0403033d;
  border-radius: 25px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.625em;
  font-weight: 700;
  line-height: 1.35em;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;
  font-weight: 400;
  font-style: italic;
}

h2 {
  font-size: 2.1875em;
  line-height: 2.125em;
}

p {
  font-size: 1.125em;
  line-height: 1.75em;
}
/* Header Settings */
header {
  padding: 25px;
  border-bottom: 1px dashed #cccccc;
}

.logo > h1 {
  font-size: 2.3125em;
}

header > nav {
  grid-area: nav;
}

.logo {
  grid-area: logo;
}

header nav ul li a {
  text-decoration: none;
  font-size: 1.1em;
  margin-right: 25px;
  font-weight: 500;
}

header nav ul li a:hover {
  color: #ffc800;
  text-decoration: underline;
}

/* header nav ul li a::before {
    content: '+';
} */

/* End Header Setting */
/* Main Settings */

.social_icons {
  grid-area: social;
}

/* font awesome settings */

main > nav > ul > li > a > i {
  font-size: 3em;
  padding: 5px;
}

main > section {
  grid-area: section;
}

main > nav > ul > li {
  display: block;
  list-style: none;
}

main > section:nth-child(3) {
  grid-area: img;
}

main > *:last-child {
  grid-area: contact;
}

/* End Main Settings */
aside {
  grid-area: aside;
}
aside > p > i {
  margin: 0 5px 0 5px;
}

footer {
  grid-area: footer;
  display: grid;
}

.logo_footer {
  grid-area: logo;
}

.copyright {
  grid-area: copy;
}

.footer_menu {
  grid-area: footer-menu;
}

footer > nav > ul > li {
  display: inline;
  list-style: none;
  margin-right: 5px;
}

.button {
  padding: 10px;
  margin: 10px;
  font-size: 1.1em;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0 10px 30px #04030321;
  cursor: pointer;
  border: 2px solid #040303;
  border-radius: 15px;
}

.heightImg {
  max-height: 400px;
}