/* body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";  
} */

/* header setting */

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto;
    grid-template-areas: "logo toggle"
    "nav nav";
    justify-items: end;
    align-items: center;
}

/* Hamburger Button */
.showNav {
    height: 0.8em;
    width: 1.25em;
    display: block;
    border-top: 0.2em solid gray;
    border-bottom: 0.2em solid gray;
    border-radius: 0.15em;
    
}

/*Middle Line*/
.showNav::before {
    content: '';
    position: absolute;
    width: 1.25em;
    margin-top: 0.3em;
    border-top: 0.2em solid gray;
}

/*end hamburger button */

/*mobile menu */

header  nav { /* default state: hidden */
    display: none;
    background-color: #EEF0F2;
    width: 100%;
    height: auto;
    background-color: chocolate;
    z-index: 1; /* fix for social icons menu */
    transform: translate(150%, 0`);
    transition: transform 0.5s ease-in;

}

#clicked:target nav { /* when hambruger click show header > nav */
    display: block;
    transform: translate(0,0);
}

 header nav ul li {
    list-style: none;
    /* border-bottom:1px solid #EEF0F2; */
}

header nav ul li a {
    border-bottom:1px solid #EEF0F2;
    display: block;
}

/* toggle on/off */

#clicked .on { /* hamburger menu default state: visible */
    display: block;
}

#clicked .off { /* X men default state: hidden */
    display: none; 
}

#clicked:target .on {  /* hide the hamburger */
    display: none;
}

#clicked:target .off {
    display: block; /* Show the X */
    z-index: 2;
    font-weight: 800;
    color:chocolate;;
    font-size: 2em;
}
/* end toggle on/off */

.hamburger {
    grid-area: toggle;
    z-index: 2; /* fix X close Button */
}