/* body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";  
} */

/* header setting */

header {
  grid-area: header;
  grid-template-columns: 50% 25% 25%;
  grid-template-rows: auto;
  grid-template-areas:
    "logo button toggle"
    "nav nav nav";
  justify-items: end;
  align-items: center;
}

header > div.logo > p > a {
  font-size: 1.3125em;
}

/* Hamburger Button */
.showNav {
  height: 0.8em;
  width: 1.25em;
  display: block;
  border-top: 0.2em solid #808080;
  border-bottom: 0.2em solid #808080;
  border-radius: 0.15em;
}

/*Middle Line*/
.showNav::before {
  content: "";
  position: absolute;
  width: 1.25em;
  margin-top: 0.3em;
  border-top: 0.2em solid #808080;
}

/*end hamburger button */

/*mobile menu */

header nav {
  /* default state: hidden */
  /* display: none; */
  width: 100%;
  max-height: 0;
  background-color: #ffffff;
  z-index: 1; /* fix for social icons menu */
  transform: translate(150%, 0);
  transition: transform 500ms ease-in, max-height 1000ms ease-in-out;
  border: 1px solid #eef0f2;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 10px 30px #04030321;
}

#clicked:target nav {
  /* when hambruger click show header > nav */
  display: block;
  max-height: 1000px;
  transform: translate(0, 0);
}

header nav ul li {
  list-style: none;
  /* border-bottom:1px solid #EEF0F2; */
}

header nav ul li a {
  border-bottom: 1px solid #eef0f2;
  display: block;
}

header > nav > ul > li:nth-child(2) > ul > li {
  padding-left: 10px;
  background-color: #dfdfdf;

}

header > nav > ul > li:nth-child(2) > ul > li > a {
  color: #2e2401;
  font-weight: 600;
}

/* toggle on/off */

#clicked .on {
  /* hamburger menu default state: visible */
  display: block;
}

#clicked .off {
  /* X men default state: hidden */
  display: none;
}

#clicked:target .on {
  /* hide the hamburger */
  display: none;
}

#clicked:target .off {
  display: block; /* Show the X */
  z-index: 2;
  font-weight: 800;
  color: #808080;
  font-size: 2em;
}
/* end toggle on/off */

.hamburger {
  grid-area: toggle;
  z-index: 2; /* fix X close Button */
  justify-content: end;
  position: relative;
  display: grid;
}

header > div.logo {
  text-align: start;
}
.button-mobile {
  grid-area: button;
  display: grid;
}

.button-desktop {
  display: none; /* hide desktop buttons */
}

div.button-mobile > a > i {
  font-size: 2em;
  box-shadow: 0 10px 30px #04030321;
  margin-left: 0.2em;
}

header > nav > ul > li > a:hover {
  border-bottom: 5px dashed #040303;
  text-decoration: none;
  display: inline;
  color: #ffc800;
}

/* end header settings */

main {
  grid-template-columns: auto;
  grid-row: auto;
  grid-gap: 20px;
  grid-template-areas: "hero-left" "hero-right" "social";
  justify-items: center;
  align-items: center;
}

.heightImg {
  max-height: 250px;
}

/* social logo display inline */

main > nav > ul > li {
  display: inline;
}

/* footer */

footer {
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "logo" "copyor" "footer-menu";
}

/* contact page settings */

/* Portfolio Page */

.grid-card {
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "picture"
    "description";
  justify-items: center;
}

/* Work Experience Settings */

.workexp-grid {
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "me" "thead";
}

.workdata {
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  /* align-items: center; */
  height: 100%;
  grid-gap: 1em;
}

.workdata > div {
  border-bottom: 2px solid #040303;
  width: 100%;
  padding: 5px;
}

.workdata > div:last-child {
  border-bottom: 0px;
}
