/* h1 Montserrat, h2-h6 Lora and p Hind Madurai */
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&family=Lora:ital@1&family=Montserrat:wght@700&display=swap');

/* reset*/

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #040303;
}

body {
    font-family: 'Hind Madurai', sans-serif;
    background-color: #EEF0F2;
    color: #040303;
    font-weight: 300;
    font-size: 14px;
    width: 80vw;
    margin: 25px auto;
    padding: 25px;
    box-shadow: -1px -9px 30px 0px #0403033d;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 17% 66% 17%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "main main main"
    "aside aside aside"
    "footer footer footer";
    
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.625em;
    font-weight: 700;
    line-height: 1.35em;
}

h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-style: italic;
}

h2 {
    font-size: 2.1875em;
    line-height: 2.125em;
}

p {
    font-size: 1.125em;
    line-height: 1.75em;
}
/* Header Settings */
header {
    grid-area: header;
    padding: 25px;
    display: grid;
    border-bottom: 1px dashed #cccccc;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    grid-template-areas: "logo nav";
}

.logo > h1 {
    font-size: 2.3125em;
}

header > nav {
    grid-area: nav;

}

header > nav > ul {
    display: flex;
    justify-content: flex-end;

}

.logo {
    grid-area: logo;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    text-decoration: none; 
    font-size: 1.1em;
    margin-right:25px;
    font-weight: 500;
}

header nav ul li a:hover {
    color: #ffc800;
    text-decoration: overline;
}

header nav ul li a::before {
    content: '|';
}

header nav ul li a::before:hover {
    content: '|';
}


/* End Header Setting */
/* Main Settings */
main {
    grid-area: main;
    padding: 25px;
    display: grid;
    grid-template-columns: 95% 5%;
    grid-template-rows: auto;
    grid-template-areas: "article social";
}

.social_icons {
    grid-area: social;
}

.main-article {
    grid-area: article;
}

main > nav > ul > li {
    display: block;
    list-style: none;
}
/* End Main Settings */
aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

button {
    padding: 10px;
    margin: 10px;
    font-size: 1.1em;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 10px 30px #04030321;
    cursor: pointer;
    border: 2px solid #040303;
}
